/* Clear fix hack */
.clearfix:after {
     content: ".";
     display: block;
     clear: both;
     visibility: hidden;
     line-height: 0;
     height: 0;
}

.clear {
	clear: both;
}

#company-structure {
	width: 100%;
	height: 310px;
}

#company-structure p {
	font-size: 24px;
	padding: 20px 40px 0 40px;
}

#company-structure div {
	float: left;
	box-sizing: border-box;
	width: 140px;
	height: 120px;
	margin-left: 40px;
	margin-right: 12px;
	border: 1px solid black;
	background-color: white;
}

#company-structure div.last {
	margin-right: 0;
}

.team {
	width: 100%;
}

.team > div {
	float: left;
	margin: 10px;
}

.vcard {
	box-sizing: border-box;
	width: 300px;			/*change this for mobile maybe*/
	height: 136px;
	padding: 8px;
	font-size: 14px;
	border: 1px solid #888888;
	border-radius: 9px;
	box-shadow: 0 0 4px #cccccc;


}

.vcard div {
	background-image: url('../images/anonymus.jpg');
	background-position: center;
	background-size: 200px 150px;
	display: block;
	float: left;
	width: 120px;
	height: 120px;
	text-indent: 100%;
	overflow: hidden;
	white-space: nowrap;
	border-radius: 60px;
}


.vcard ul {
	display: block;
	float: left;
	width: 160px;
	margin: 20px 0 0 0;
	padding: 0;
	background-color: blue;
}

.vcard li {
	position: relative;
	background-color: white;
	list-style-type: none;
	text-indent: 10px;
}


#anna {
	background-image: url('../images/anna.jpg');
}

#ben {
	background-image: url('../images/ben.jpg');
}

#connor {
	background-image: url('../images/connor.jpg');
}

#diana {
	background-image: url('../images/diana.jpg');
}