@import url(http://fonts.googleapis.com/css?family=Fauna+One|Port+Lligat+Slab|Tulpen+One|Noto+Sans:400,700);


/* Clear fix hack */
.clearfix:after {
     content: ".";
     display: block;
     clear: both;
     visibility: hidden;
     line-height: 0;
     height: 0;
}

.clear {
	clear: both;
}

body {
     background-color: #555555;
     background: url("../images/faq-bg.png");
     font-family: 'Noto Sans', sans-serif;
     font-size: 16px;
     margin: 0;
     padding: 0;
}


nav {
     display: block;
     position: fixed;
     height: 66px;
     width: 100%;
     top: 0;
     background-color: #ffffff;
     box-shadow: 0 2px 4px #ddd;
     z-index: 10000;
}

h1 {
     display: inline-block;
     float: left;
     margin: 0;
     padding: 8px 0 10px 20px;
     font-family: 'Tulpen One', 'Arial', sans-serif;
     /*font-weight: 500;*/
     color: #dede00;
     font-size: 46px;
     font-weight: normal;
     letter-spacing: 2px;
     text-decoration: overline;
     /*padding-right: 340px;*/
     /*text-shadow: 1px 1px 1px #dede00;*/
     
}

h2, h3 {
     font-family: 'Fauna One', 'Arial', sans-serif;
}

a {
     font-family: 'Fauna One', serif;
     text-decoration: none;
}
a:hover {
     color: #ffffff;
}
nav a {
     display: block;
     float: right;
     box-sizing: border-box;
     height: 100%;
     width: 102px;
     text-align: center;
     padding-top: 32px;
     text-decoration: none;
     color: #222222;
     background-color: rgba(255, 255, 255, 0.7);
}

nav a:hover {
     background-color: #d9d90f;
     padding-top: 30px;
     border-top: 3px solid #222222;
}

#container {
     display: block;
     width: 990px;
     margin: 86px auto 0 auto;
     /*height: 450px;*/
}



footer {
     margin: 0;
     background: #d9d90f;
     box-shadow: 0 -2px 4px #ccc;
     z-index: 9990;

}


footer a {
     color: #ffffff;
     background-color: #444444;
     padding: 2px 48px 3px 20px;
     margin: 0 30px 0 20px;
     font-size: 22px;
     white-space: nowrap;
}

footer a:hover {
     background-color: #666;
     color: #a7a72a;
}

footer i {
     color: #666666;
}

.next-program {
     width: 350px;
     margin-right: 20px;
}

.next-program p {
     line-height: 1.4;
     margin: 0;

}

div.next-program h4 {
     font-size: 18px;
}

.next-program p strong {
     display: inline-block;
     background-color: #ffffff;
     background-color: rgba(233, 233, 233, 0.5);
     width: 110px;
}

.next-program p i {
     display: inline-block;
     width: 24px;
     text-align: center;
     color: #000000;
}

footer > div {
     display: inline-block;
     vertical-align: text-top;
     margin-bottom: 50px;
     margin-top: 20px;
}

footer span {
     font-family: 'Fauna One', serif;
     margin-top: 40px;
     background-color: #ffffff;
     padding: 3px 5px;

}

div.social {
     margin-left: 36px;
}

.social div {
     margin-top: 8px;
     margin-left: 14px;
}

.social a {
     display: inline-block;
     width: 60px;
     height: 60px;
     font-size: 28px;
     text-align: center;
     background-color: #444444; 
     color: #fff;
     text-decoration: none;
     margin: 4px;
     line-height: 60px;
     border-radius: 30px;
     padding: 0;
}

.social .icon-facebook:hover {
     background-color: #385397;
}

.social .icon-twitter:hover {
     background-color: #47C3FE;
}

.social .icon-linkedin:hover {
     background-color: #5391b4;
}

.social .icon-rss:hover {
     background-color: #e28241;
}

footer > div:last-child {
     width: 230px;
     margin-left: 36px;
}

/*!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!*/
/* <<<<< okay, here comes the css for the index.html >>>>> */
/*!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!1!!!!!!!!!!!!!!!!!!!!!!*/


body#index-site {
     background: url('../images/index-bg.JPG') repeat-y fixed;
     background-size: cover;
}

#index-site #container div {
     background-color: rgba(150, 150, 150, 0.6);
}

#index-site #container > div:first-child {
     float: right;
     box-sizing: border-box;
     width: 660px;
}

#index-site #container > div {
     float: right;
     box-sizing: border-box;
     width: 220px;
     padding: 0 10px 0 15px;
}
#index-site #container > div:last-child{
     margin-bottom: 20px;
}

#index-site #container a {
     display: inline-block;
     box-sizing: border-box;
     width: 100%;
     height: 100px;
     margin-top: 18px;
     margin-bottom: 24px;
     padding: 60px 7px 0 0;
     background-color: #ffffff;
     font-family: 'Fauna One', 'Arial', sans-serif;
     text-align: right;
     color: #222222;
     font-weight: 600;
}

#index-site #container a:hover {
     background-color: #d9d90f;
     /*padding-top: 30px;*/
     border-top: 3px solid #222222;
     /*border-top-left-radius: 40px;*/
}

#index-site #container h2  {
     -webkit-margin-before: 0;
     margin-bottom: 0;
     padding-top: 20px;
     color: #dbdb25;
     font-size: 96px;
}


/*end of index.html css */


/*!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!*/
/* <<<<< this is the css for the team page >>>>> */
/*!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!1!!!!!!!!!!!!!!!!!!!!!!*/


#company-structure {
     width: 100%;
     /*height: 310px;*/
     background-color: #ffffff;
}

#company-structure p {
     font-size: 24px;
     padding: 20px 40px;
}

#company-structure a {
     display: block;
     float: left;
     box-sizing: border-box;
     width: 140px;
     height: 120px;
     margin-left: 40px;
     margin-right: 12px;
     padding: 82px 0 0 8px;
     border-radius: 40px 0 0 0;
     color: #ffffff;
}

#company-structure div.last {
     margin-right: 0;
}

#manag-button, #desig-button,  #offic-button {
     background-color: #d9d90f;
     /*background-color: rgba(250, 250, 0, 0.33);*/
}

#manag-button:hover, #desig-button:hover, #offic-button:hover {
     background-color: #a7a72a;
}

#facil-button, #produ-button {
     background-color: #ecec73;
}

#facil-button:hover, #produ-button:hover {
     background-color: #8a8a00;
}


.team {
     width: 100%;
     height: 140px;
}

.team > div {
     float: left;
     margin: 10px;
}

.all-team-members {
     margin: 30px auto 0 auto;
     text-align: center;
     background-color: #ffffff;
     padding: 20px 0;
     border-top: 10px solid #d9d90f;
     /*border-right: 10px dotted #d9d90f;*/
}

.all-team-members div {
     display: inline-block;
     box-sizing: border-box;
     background-image: url('../images/anonymus.jpg');
     background-position: center;
     background-size: 200px 150px; 
     width: 120px;
     height: 120px;
     margin: 8px;
     text-indent: 100%;
     overflow: hidden;        
     white-space: nowrap;
     border-radius: 60px;
     border: 8px solid transparent;

}

.all-team-members div:hover {
     border-color: rgba(212, 212, 212, 0.4);
}

.vcard {
     box-sizing: border-box;
     width: 210px;            /*change this to 380px for mobile maybe*/
     font-size: 14px;
     border: 1px solid #888888;
     border-radius: 80px 0 0 0;
     background-color: #ffffff;


}

.vcard div {
     background-image: url('../images/anonymus.jpg');
     background-position: center;
     background-size: 180px 135px; 
     /* I use this here because I want to use different size in the mobile version */
     display: block;
     float: left;
     width: 100px;
     height: 100px;
     margin: 20px 0 0 20px;
     text-indent: 100%;
     overflow: hidden;
     white-space: nowrap;
     border-radius: 50px;
}

.vcard span {
     float: right;
     margin-top: 40px;
     margin-right: 20px;
     font-size: 20px;
     color: #909000;
     font-family: 'Fauna One', serif;
}

.vcard i {
     font-size: 50px;
}

.vcard ul {
     display: block;
     float: right;
     width: 170px;
     padding: 0;
     margin-right: 20px;
     /*margin-top: 30px; added when mobile*/

}

.vcard li {
     position: relative;
     background-color: #d9d90f;
     list-style-type: none;
     padding: 0 6px;
     /*text-indent: 10px;*/
}

.vcard li:nth-child(2) {
     color: #ffffff;
}


/*end of team page css*/

/*!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!*/
/* <<<<< here comes the company styling >>>>> */
/*!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!1!!!!!!!!!!!!!!!!!!!!!!*/

div.company {
     background-color: rgba(250, 250, 250, 0.3);
     padding: 0 16px;
}

#container img {
     display: block;
     box-sizing: border-box;
     float: left;
     width: 380px;
     padding-right: 14px;
     padding-top: 24px;
}

#intro-text h2 {
     padding-top: 18px;
     color: #d9d90f;
}

#container a h2 {
     background-color: #ffffff;
     padding: 16px 0 8px 20px;
     margin: 0;
     text-decoration: none;
     color: #dede00;
}

#container a h2:hover {
     background-color: #d9d90f;
     color: #ffffff;
}


#slide1, #slide2, #slide3, #slide4 {
     padding-top: 70px;
     padding-bottom:150px;
}

#slide4 img {
     float: left;
     height: 190px;
     width: auto;
     padding: 0 20px 0 36px;
}

#slide4 img#last {
     padding-right: 0;
}

#container div a {
     display: block;
     float: right;
     color: #ddd;
}

/*!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!*/
/* <<<<< styling of FAQ site >>>>> */
/*!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!1!!!!!!!!!!!!!!!!!!!!!!*/


.faq-site h2  {
     -webkit-margin-before: 0;
     margin-bottom: 0;
     padding-top: 20px;
     color: #dbdb25;
     font-size: 116px;
}

.faq-site h2 + p {
     font-size: 54px;
     -webkit-margin-before: 0;
}

/*!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!*/
/* <<<<< styling for workspace >>>>> */
/*!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!1!!!!!!!!!!!!!!!!!!!!!!*/

#container map area:hover {
     display: block; !important 
     background-color: red;
     color: red;
}