@import url(http://fonts.googleapis.com/css?family=Fauna+One|Port+Lligat+Slab|Tulpen+One|Noto+Sans:400,700);


/* Clear fix hack */
.clearfix:after {
     content: ".";
     display: block;
     clear: both;
     visibility: hidden;
     line-height: 0;
     height: 0;
}

.clear {
	clear: both;
}

body {
     background-color: #555555;
     font-family: 'Noto Sans', sans-serif;
     font-size: 16px;
     margin: 0;
     padding: 0;
}


nav {
     display: block;
     position: fixed;
     height: 66px;
     width: 100%;
     top: 0;
     background-color: #ffffff;
     box-shadow: 0 2px 4px #111111;
     z-index: 10000;
}

h1 {
     display: inline-block;
     float: left;
     margin: 0;
     padding: 8px 0 10px 20px;
     font-family: 'Tulpen One', 'Arial', sans-serif;
     /*font-weight: 500;*/
     color: #dede00;
     font-size: 46px;
     font-weight: normal;
     letter-spacing: 2px;
     text-decoration: overline;
     /*padding-right: 340px;*/
     /*text-shadow: 1px 1px 1px #dede00;*/
     
}

h2, h3 {
     font-family: 'Fauna One', 'Arial', sans-serif;
}

a {
     font-family: 'Fauna One', serif;
     text-decoration: none;
}

nav a {
     display: block;
     float: right;
     box-sizing: border-box;
     height: 100%;
     width: 102px;
     text-align: center;
     padding-top: 32px;
     text-decoration: none;
     color: #222222;
     background-color: rgba(255, 255, 255, 0.7);
}

nav a:hover {
     background-color: #d9d90f;
     color: #ffffff;
     padding-top: 30px;
     border-top: 3px solid #222222;
}

#container {
     display: block;
     width: 990px;
     margin: 86px auto 0 auto;
     /*height: 450px;*/
}



footer {
     margin: 0;
     background: #d9d90f;
     box-shadow: 0 -2px 4px #111111;
     z-index: 9990;

}


footer a {
     color: #ffffff;
     width: 80px;
     border-radius: 25px 0 0 0;
     background-color: #444444;
     padding: 36px 150px 3px 20px;
     margin: 0 30px 0 20px;
     box-shadow: 2px 2px 4px #222222;
     font-size: 22px;
}

footer a:hover {
     background-color: #666;
     color: #a7a72a;
}

footer i {
     color: #666666;
}

.next-program {
     width: 350px;
     margin-right: 20px;
}

.next-program p {
     line-height: 1.4;
     margin: 0;

}

div.next-program h4 {
     font-size: 18px;
}

.next-program p strong {
     display: inline-block;
     background-color: #ffffff;
     background-color: rgba(233, 233, 233, 0.5);
     width: 110px;
}

.next-program p i {
     display: inline-block;
     width: 24px;
     text-align: center;
     color: #000000;
}

footer > div {
     display: inline-block;
     vertical-align: text-top;
     margin-bottom: 50px;
     margin-top: 20px;
}

footer span {
     font-family: 'Fauna One', serif;
     margin-top: 40px;
     background-color: #ffffff;
     padding: 3px 5px;

}

