@import url(http://fonts.googleapis.com/css?family=Droid+Sans);


/* Clear fix hack */
.clearfix:after {
     content: ".";
     display: block;
     clear: both;
     visibility: hidden;
     line-height: 0;
     height: 0;
}

.clear {
	clear: both;
}

body {
     font-family: 'Droid Sans', sans-serif;
     font-size: 16px;
}

/*nav {
     display: block;
     width: 100%;
     height: 130px;
     background-color: #03899C;
     margin: 0;
     position: fixed;
     float: top;
     
}*/

#container {
     display: block;
     width: 775px;
     margin: 20px auto 0 auto;
     background-color: #555;
     height: 450px;
}

.right {
     width: 420px;
     float: right;
     background-color: #fff;
}

.right h2 {
     margin-top: 40px;
     font-size: 30px;
     line-height: 1.3;
     color: #f00;
}