/* Clear fix hack */
.clearfix:after {
     content: ".";
     display: block;
     clear: both;
     visibility: hidden;
     line-height: 0;
     height: 0;
}

.clear {
	clear: both;
}

body {
	background: url('../images/team-bg.png');
}

#company-structure {
	width: 100%;
	/*height: 310px;*/
	background-color: #ffffff;
}

#company-structure p {
	font-size: 24px;
	padding: 20px 40px;
}

#company-structure div {
	float: left;
	box-sizing: border-box;
	width: 140px;
	height: 120px;
	margin-left: 40px;
	margin-right: 12px;
	padding: 12px 0 0 8px;
	border-radius: 2px;
	background-color: rgba(250, 250, 0, 0.3);
	color: #ffffff;
}

#company-structure div.last {
	margin-right: 0;
}

#company-structure div:hover {
	background-color: #909000;
	color: #ffffff;
	/*border: 3px solid #a7a72a;*/
}

.team {
	width: 100%;
	height: 140px;
	/*overflow: hidden;*/
}

.team > div {
	float: left;
	margin: 10px;
}

.all-team-members div{
	background-image: url('../images/anonymus.jpg');
	background-position: center;
	background-size: 200px 150px; 
	float: left;
	width: 120px;
	height: 120px;
	margin: 8px;
	text-indent: 100%;
	overflow: hidden;		/* comment this line out to see the employee vcards */
	white-space: nowrap;
	border-radius: 60px;
}

.vcard {
	box-sizing: border-box;
	width: 300px;			/*change this for mobile maybe*/
/*	height: 136px;*/
	padding: 8px;
	font-size: 14px;
	border: 1px solid #888888;
	border-radius: 9px;
	box-shadow: 0 0 4px #222222;
	background-color: #ffffff;


}

.vcard div {
	background-image: url('../images/anonymus.jpg');
	background-position: center;
	background-size: 200px 150px; /* I use this here because I want to use different size in the mobile version */
	display: block;
	float: left;
	width: 120px;
	height: 120px;
	text-indent: 100%;
	overflow: hidden;
	white-space: nowrap;
	border-radius: 60px;
}

.vcard ul {
	display: block;
	float: left;
	width: 160px;
	margin: 20px 0 0 0;
	padding: 0;
}

.vcard li {
	position: relative;
	background-color: white;
	list-style-type: none;
	text-indent: 10px;
}

.vcard li:nth-child(2) {
	color: #1d766f;
}

#anna {
	background-image: url('../images/anna.jpg');
}

#ben {
	background-image: url('../images/ben.jpg');
}

#connor {
	background-image: url('../images/connor.jpg');
}

#diana {
	background-image: url('../images/diana.jpg');
}

#eva {
	background-image: url('../images/eva.jpg');
}

#fiona {
	background-image: url('../images/fiona.jpg');
}

#gina {
	background-image: url('../images/gina.jpg');
}